<ul class="pagination justify-content-center mt-3">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1{{extra_params}}">&laquo; 1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{{extra_params}}">zurück</a></li>
    {% endif %}

    <li class="page-item active" aria-current="page"><a class="page-link" tabindex="-1" aria-disabled="true" href="#">{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{{extra_params}}">weiter</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{extra_params}}">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
    {% endif %}
</ul>