<ul class="pagination justify-content-center">
    {% if rezept_liste.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1{{kat_param}}">&laquo; 1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ rezept_liste.previous_page_number }}{{kat_param}}">zurück</a></li>
    {% endif %}

    <li class="page-item active" aria-current="page"><a class="page-link" tabindex="-1" aria-disabled="true" href="#">{{ rezept_liste.number }}</a></li>

    {% if rezept_liste.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ rezept_liste.next_page_number }}{{kat_param}}">weiter</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ rezept_liste.paginator.num_pages }}{{kat_param}}">{{ rezept_liste.paginator.num_pages }} &raquo;</a></li>
    {% endif %}
</ul>